a {
    color: black;
}

a:hover {
    color: rgb(27, 27, 27);
}

p {
    color: gray;
}

/* Navbar */

#logo {
    color: red;
    font-size: 35px;
}

#brand {
    font-size: 24px !important;
    font-weight: 500 !important;
}

#navbar {
    padding-top: 10px;
}

#lgNavbar a {
    font-size: 16px;
    font-weight: 500;
}

#nav-item:hover {
    background-color: rgba(145, 145, 145, 0.151);
    border-radius: .5em;
}

/*Hero Content*/

#main-date {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .5px;
}

#main-title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
}

#read-more-btn {
    background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    font-size: larger;
}

#read-more-btn:hover {
    opacity: 70%;
}

/* latest news and social */
#social {
    font-size: 25px;
}

/* subhero */
@media (min-width: 892px) {
    .bg-black {
        background: linear-gradient(to bottom, white 20%, black 80%);
        padding-bottom: 20px;
    }
}

@media (max-width: 891px) {
    #subhero-text {
        color: white;
    }
    .bg-black {
        background-color: black;
        z-index: 0; 
        padding-bottom: 20px;
    }
}

/* Categories */

#categories-btn {
    font-size: 15px;
    border-radius: 1em !important;
}

#cat-more-btn {
    font-size: 20px;
}

.articles h3 {
    padding-top: 15px;
    font-size: 25px;
}

.articles-sm h3 {
    font-size: 15px;
}

/* Footer */

footer {
    background-color: #f7f7f7;
}

footer h3 {
    font-size: 15px;
}

footer a {
    font-size: 15px;
    font-weight: 300;
}

footer h5 {
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
.md-column {
    margin-top: 30px;
}
}

.disclaimer {
    font-size: 15px;
}